<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="vieux.foo.tap_cercle"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="16"
        android:targetSdkVersion="16" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".TimerActivity"
            android:label="@string/title_activity_timer" >
        </activity>
        <activity
            android:name=".FinTimerDialog"
            android:label="@string/title_activity_fin_timer_dialog" >
        </activity>
        <activity
            android:name=".TapActivity"
            android:label="@string/title_activity_tap" >
        </activity>
        <activity
            android:name=".ResultActivity"
            android:label="@string/title_activity_result" >
        </activity>
        <activity
            android:name=".DebutAppDialog"
            android:label="@string/title_activity_debut_app_dialog" >
        </activity>
        <activity
            android:name=".StatsActivity"
            android:label="@string/title_activity_stats" >            
        </activity>
    </application>

</manifest>
